<head>
  <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag "index" %>
<script> 
    
</script>

</head>

<body>
    <!--
  <h1>Dying Light Main Menu</h1>
  -->
  
  <div id="menu">
    <div class="buffer"></div>
    <h2>Success Menu</h2>
    <ul>
        <h1>Success</h1>
        <br/><br/><br/><br/>
        <li><span class="trim"><a href="/">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a></span><i class="fa fa-chevron-up" style="color:white;"> &nbsp;</i>TopMenu<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21" height="36" viewBox="0 0 21 36">
              <path d="M0.004,25.709 C0.004,25.709 0.004,35.987 0.004,35.987 C0.004,35.987 20.986,18.000 20.986,18.000 C20.986,18.000 0.004,0.013 0.004,0.013 C0.004,0.013 0.004,10.291 0.004,10.291 C0.004,10.291 8.873,18.000 8.873,18.000 C8.873,18.000 0.004,25.709 0.004,25.709 Z" id="path-1" class="cls-2" fill-rule="evenodd"/>
            </svg></li><br/>
      
    </ul>
    
  </div>
  
  
</body>
